.admin-board {
  height: auto;
  position: relative;
  display: block;
}

.icon-p {
  display: flex;
  justify-content: flex-start;
  padding: 3px 5px;
  position: relative;
}
.icon-p p {
  margin-left: 5px;
}

.overview-box {
  display: block;
  position: relative;
}

.overview {
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid green;
}

.over-box h1 {
  color: black;
  padding: 0px 24px;
}

.info-box {
  height: auto;
  color: black;
  width: 180px;
  border: 1px solid grey;
  border-top: 1px solid grey;
  display: block;
  border-radius: 1px;
  padding: 5px 24px;
}

.info-box h1,
h2,
p {
  color: black;
}

.outbox {
  height: auto;
  width: 400px;
  color: yellow;
}

.messsges-memo {
  display: flex;
  justify-content: space-between;
}

.posted-memo {
  display: block;
  padding: 10px 0px;
  border-top: 5px solid green;
  /* margin-top: 5px; */
  background-color: lightgray;
}

.posted-memo h1 {
  color: green;
  text-align: center;
}

.memo-created {
  height: auto;
  background-color: lightgrey;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.delete {
  color: red;
}

.all-memo {
  width: 700px;
  display: block;
  height: auto;
}

.memo-letter {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 5px;
  transition: 0.4s;
}

.memo-letter:hover,
.memo-letter:focus {
  border-right: 1px solid green;
  transition: 0.4s;
}

.memo-letter .details {
  height: 0;
  margin-top: 5px;
  overflow-y: hidden;
  transition: 0.5s;
}
.details p {
  color: grey;
}
.memo-letter .date-time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid green;
}

.date-time p {
  font-size: 12px;
  color: grey;
}

.memo-letter .header {
  display: flex;
  justify-content: space-between;
}
.header p {
  color: grey;
}

.header .delete {
  float: right;
  color: brown;
}

.memo-message-container {
  /* border: 1px solid brown; */
  display: block;
  height: auto;
}

.memo-message-container button {
  padding: 3px 1px;
  color: green;
  /* position: fixed;
    left: 0;
    top: 0; */
}

.menu-buttons {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.menu-buttons button {
  border: none;
  border-radius: 5px;
  border: unset;
  outline: none;
  margin-right: 10px;
}

.memo-modal {
  /* border: 1px solid brown; */

  margin-top: 4px;
  display: flex;
  justify-content: flex-start;
  padding: 0px 5px;
}

.memo-modal .memo {
  height: 0;
  overflow-y: hidden;
  transition: 0.7s;
  width: 400px;
  /* border: 1px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.memo form {
  display: block;
}

.memo form input {
  display: block;
  width: auto;
  padding: 10px 10px;
  margin-top: 2px;
  width: 300px;
  border: 1px solid lightgrey;
  outline: green;
  border-radius: 4px;
}
.memo form h1 {
  color: green;
}

.memo form textarea {
  display: block;
  width: auto;
  padding: 10px 10px;
  height: 300px;
  margin-top: 2px;
  width: 300px;
  border: 1px solid lightgray;
  outline: green;
  border-radius: 4px;
}

.memo form button {
  width: 322px;
  padding: 10px 10px;
  background-color: green;
  color: white;
  border: unset;
  margin-top: 2px;
  border-radius: 4px;
}

.memo-modal .memo-message {
  height: 0;
  transition: 0.5s;
  overflow-y: hidden;
  width: 400px;
  /* border: 1px solid brown; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.memo-message form {
  display: block;
}

.memo-message form input {
  display: block;
  width: auto;
  padding: 10px 10px;
  margin-top: 2px;
  width: 300px;
  border: 1px solid lightgrey;
  outline: green;
  border-radius: 4px;
}

.memo-message form textarea {
  display: block;
  width: auto;
  padding: 10px 10px;
  height: 30px;
  margin-top: 2px;
  width: 300px;
  border: 1px solid lightgrey;
  outline: green;
  border-radius: 4px;
}

.memo-message form button {
  width: 322px;
  padding: 10px 10px;
  background-color: green;
  color: white;
  border: unset;
  margin-top: 2px;
  border-radius: 4px;
}

.message_ {
  height: auto;
  /* border-radius: 10px; */
  border-top: 5px solid green;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 0px 10px;
}

.container {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  width: 700px;
  margin-top: 2px;
  color: white;
  padding: 10px 10px;
}

.message p {
  color: grey;
  font-size: 12px;
}

.open-delete {
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2px 5px;
  width: 50px;
  background-color: white;
}

@media screen and (max-width: 650px) {
  .memo-modal {
    flex-direction: column;
  }

  .memo-modal .memo {
    width: 100%;
  }

  .memo form input {
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .memo form textarea {
    /* width: auto; */
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .memo form button {
    width: 100%;
    padding: 10px 10px;
  }

  .all-memo {
    width: auto;
  }

  .overview {
    flex-direction: column;
  }

  .memo-modal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .memo-created {
    padding: 0px 5px;
  }

  .info-box {
    margin-top: 5px;
    width: auto;
  }
}
