.homepage .link {
  text-decoration: none;
  background-color: green;
  color: white;
  width: 50px;
  padding: 0px 10px;
}

.main-page {
  background-color: lightgray;
}
.inbox-outbox {
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;
}

.inbox-outbox .link {
  color: green;
  background-color: inherit;
}

.inbox-outbox .link:hover,
.inbox-outbox .link:focus {
  color: grey;
  transition: 0.4s;
}

.post-memo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.post-container {
  padding: 10px 24px;
  /* border: 1px solid lightgrey; */
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-box {
  display: block;
}

@media screen and (max-width: 650px) {
  .post-container {
    width: auto;
  }

  .inbox-outbox {
    padding: 5px 10px;
    background-color: inherit;
    color: green;
    padding: 0px 24px;
  }

  .post-memo {
    width: auto;
  }
}
