.nav-menu {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 3px; */
    margin-top: 1px;
    padding: 10px 10px;
    background-color: lightgray;
}

.nav-bars {
    display: flex;;
    position: relative;
    justify-content: space-between;
    padding: 5px 10px;
}

.nav-bars .link {
    color: black;
    margin-left: 2px;
    text-decoration: none;
    border: 1px solid green;
    padding: 5px 5px;
    border-radius: 2px;
    color: green;

}

.nav-bars .link:hover,
.link:focus {
    border: 1px solid green;
    background-color: green;
    color: white;
    transition: 0.6s;
}

